<div class="container">
  <h1>The future of urban living includes a new food experience.</h1>
  <p>The supermarket has never really changed. Amazon is doing interesting things with virtual carts and Fresh delivery, but the degree to which these services actually improve the food supply chain is up for debate.</p>
  <p>The food supply chain needs to be redesigned to match the demands of the modern urban consumer. The modern food supply chain should:</p>
  <ul>
    <li>Preference healthy, locally-grown ingredients</li>
    <li>Minimize wasteful packaging</li>
    <li>Provide equal access to healthy food</li>
    <li>Encourage a plant-heavy diet</li>
    <li>Minimize food waste</li>
  </ul>
  <p>I’m creating the supermarket for the urban future. The supermarket is a community space that connects consumers to local agriculture through food experiences such as harvesting from a hydroponic garden or farm-to-table cooking classes. The supermarket sources a majority of ingredients directly from local farms and grows much of the produce on site. Consumers can come to the store to shop and tour the facility or join a delivery membership that stocks your fridge with chef-prepared meals twice a week.</p>
  <p>I grew up in New York’s Hudson Valley on a small pick-your-own farm that grew asparagus, peas, strawberries, blueberries, blackberries, apples, and pumpkins (as well as a small dairy operation until the late 90s). I came to Boston to study engineering, and have since worked with several early-stage startups to bring new products and services to market. I am now pursuing an MBA at Harvard Business School.</p>
  <p>Food and agriculture is close to my heart and I believe the current food system needs to be redesigned from first principles. If you’re interested in joining this wild little adventure, email me at robinson@greig.io.</p>
</div>
