<div class="container">
  <h1>The future of urban living includes a new food experience.</h1>
  <p>
    The modern food supply chain should preference locally-produced ingredients, minimize packaging and food waste, be completely traceable, encourage a plant-heavy diet, and provide equal access to healthy food. While grocery delivery services are going to own the middle of the supermarket, consumers will continue to go to the store to buy their perimeter groceries (i.e. produce, dairy, meat). Consumers today are looking for more connection to their food; we want to inspect our produce, to browse the cuts of meat, to sample the fish, and to learn about the local farm where it was all grown. The rise of farmers markets, of organic foods, and of the food movement (e.g. slow food, local food, urban food production) all show this. The future of urban living includes a new food experience that celebrates the adventure of local food while making fresh produce as convenient as a bag of chips.
  </p>
  <p>
    We're building Tivoli, a network of 24/7 micro-markets that sells perimeter groceries and new food experiences. Tivoli uses technology to manage each market. Market members may use their phone to unlock the market and to self-checkout, allowing members to access the market 24/7. The membership model offers complete customer analytics: what they buy, how frequently they visit, and which store is closest to home. This not only allows Tivoli to send targeted marketing offers to each individual customer, but it also may be used to build community around each store. Tivoli also uses a combination of cameras and transaction data to remotely monitor the inventory of each item in each market. This information is used to send tasks out to gig workers, who shuttle goods from producer to market and between markets to keep markets well-stocked.
  </p>
  <p>
    By making the supply chain and operations more efficient, Tivoli is able to invest in event programming to offer exiting food experiences in each market. Collaboration with local chefs, farmers, and artists will create a rotation of events and experiences to connect consumers to their food and community. Stop by your local market in the evening to learn about beehive management, watch a screening of a new indie food film, or learn how to cook the latest seasonal produce.
  </p>
  <p>
    While many Tivoli markets may live in traditional brick and mortar locations, we’re also able to assemble a complete micro-market in a shipping container, allowing us to setup pop-up markets in food deserts. These are underserved city neighborhoods or rural areas far from a grocery store. This allows us to pilot the store in new neighborhoods without significant investment.
  </p>
  <p>
    If you're interested in learning more, please email me at robinson@greig.io.
  </p>
</div>
